

@media screen and (max-width:1200px) {
  .Web_Dev1 {
    display: flex;
    gap: 90px;
    padding: 40px 40px;
    align-items: center;
  }

}

@media screen and (max-width:1120px) {

    .Navmenu_full {
        display: none;
    }
      

    .Location {
        display: flex;
        gap: 10px;
        padding: 50px 20px;
        background-color: #374a5e;
        color: #fff;
      }

}





@media screen and (max-width:840px) {
    .Works {
        background-color: #F3F5F9;
        padding: 50px 30px;
      }
      .Website_trafice {
        background-color: #000;
        padding: 20px 40px;}


        .Servises_top_right {
            padding: 0px 30px;
          }
    .Contect {
       
        gap: 30px;
        padding: 40px 40px;}
  
  .Contect_right2 h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    padding: 41px 0px;
    line-height: 38px;
   
    text-align: start;
  }
  .Location {
    display: flex;
    gap: 40px;
    padding: 50px 20px;
    background-color: #374a5e;
    color: #fff;
    /* gap: ; */
    flex-wrap: wrap;
    justify-content: start;
  }

  .Web_Dev1 {
    display: flex;
    gap: 20px;
    padding: 40px 10px;
    align-items: center;
    /* flex: ; */
    flex-wrap: wrap;
    justify-content: center;
  }
  .Fother{
    padding: 10px 10px;
  }

  .Our_Work_bottom {
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 20px;
    flex-wrap: wrap;
  }
  .arrow-animation {
    display: flex;
    align-items: center;
    /* justify-content: ; */
    gap: 30px;
    padding: 0px 30px;
  }

  .Main-left_1 {
    max-width: 490px;
    line-height: 40px;
  }
}


  @media  screen and (max-width:760px) {

    .Contect {
        /* display: flex; */
        gap: 30px;
        padding: 10px 10px;
       flex-wrap: wrap-reverse;
    }
    .Contect_left {
        width: 100%;
    }

    .Contect_right2 h1 {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        padding: 26px 104px;
        line-height: 38px;
       
        text-align: center;
      }
      .Contect_right2 h1:nth-child(2){
        font-size: 30px;
      } 
      .Contect_right3 {
        padding: 0px 30px ;
    }
    .Servises_top {
        display: flex;
        flex-wrap: wrap;
        /* flex: wrap; */
      }
    .Fother {
        padding: 10px 10px;
        display: flex;
        /* flex: ; */
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
      .arrow-animation {
        display: flex;
        align-items: center;
        /* justify-content: ; */
        gap: 30px;
        padding: 0px 30px;
        flex-wrap: wrap-reverse;
        justify-content: start;
      }
  }



  @media  screen and (max-width:420px) {
    .Contect {
         /* display: flex; 
         gap: 30px; */
        padding: 0px 10px; 
        padding-bottom: 20px;

    }
    .Contect_right2 h1 {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        padding: 26px 0px;
        line-height: 38px;
        
        text-align: center;
      }




      .Project {
        background-color: #F3F5F9;
        padding: 30px 30px;
      }

      .Web_Dev2 {
        border: 1px solid black;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        min-width: 374px;
        padding: 20px 20px;
        border-radius: 10px;
      }
      .Web_Dev2 h1 {
        /* color: var( --e-global-color-59ff7a0 ); */
        font-family: "Poppins", Sans-serif;
        font-size: 21px;
        font-weight: 1000;
        color: #fe0000;
      }

      .Web_Dev2 h2 {
        font-size: 19px;
        font-weight: 400;
        color: #575757;
        padding: 8px 6px;
      }
      .Web_Dev3 h3 {
        font-size: 18px;
        font-weight: 400;
        color: #575757;
      }

      .web_dev_img img {
        width: 70%;
        height: auto;
        margin: auto;
      }

      .Fother {
        padding: 10px 60px;
        display: flex;
        /* flex: ; */
        flex-wrap: wrap;
        gap: 20px;
      }

      .Our_Work_bottom {
        /* border: 1px solid black; */
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 20px 20px;
        flex-wrap: wrap;
      }
      .Main-left_1 h1 {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: red;
      }
      .Main-left_1 h2 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        color: #3C3C3C;
        padding: 15px 0px;
        line-height: 45px;
        text-transform: capitalize;
      }


  }



  @media  screen and (max-width:410px) {
    .Website_trafice_bottom1 input {
        width: 250px;
        padding: 10px 10px;
        background-color: #EDEDED;
        outline: none;
      }
    
  }
  



  @media  screen and (max-width:370px) {
    .Fother_map1 iframe {
        border-radius: 10px;
        width: 300px;
        outline: none;
        max-width: 375px;
      }
  }


  @media  screen and (max-width:370px) {
    .Fother_map1 iframe {
        border-radius: 10px;
        width: 250px;
        outline: none;
    }
  }


 