.return{
  background-color:#f5f5f5;
  display: flex;
  justify-content: space-between;

  padding: 39px 80px 39px 80px;
  align-items: center;
  flex-wrap: wrap;
}
.returnh2{
  color: #FE0000;
 
  font-size: 24px;

  font-weight: 400;
  margin: 0;
}
span{
  color: #c6c6c6;
}

.returnmain{
 padding: 50px 100px 50px 100px;
  margin: 0px auto;
}
.privacymain p{
  margin: 0 0 20px;
  color: #5A5A5A;
  font-size: 14px;
  font-family: inherit;
}
@media screen and (max-width:840px){
  .returnmain{
    padding: 50px 20px 50px 20px;
     margin: 0px auto;
   }

}
a{
  color: black;
}
