*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:sans-serif ;
    scroll-behavior: smooth;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 60px;
    /* align-items: center; */
}
.Navbar_logo_1 img{
    max-width: 200px;
}
.Navmenu_full{
    display: flex;
}
.Navmenu{
padding: 20px 10px;
}
.Navmenu ul{
    /* text-decoration: none; */
}
.Navmenu ul li{
    /* display: flex; */
    list-style-type: none;
    padding: 0px 8px
    ;
   
}
.Navmenu_Navlink{
    text-decoration: none;
    color: #4a4d52;
    cursor: pointer;
    /* border: 1px solid black; */
    font-weight: 500;
    letter-spacing: .6px; 
    transition: 0.3s;

}
.Navmenu_Navlink:hover{
    color: #fe0000;
    

}
.Navbar_button{

    padding: 10px 10px;
}
.Navbar_button button{
    color: #fff;
    background-color: #fe0000;
    padding: 12px 22px;
    font-weight: 600;
border-radius: 5px;
font-size: 15px;
    outline: none;
    border: none;
    transition: .3s ease;
    cursor: pointer;

}
.Navbar_button button:hover{
background-color: #d60000;
}
.Navbar_button i{
    font-size: 20px;
    font-size: 200;
    padding: 0px 18px;
    /* margin: 10px 19px; */
    font-size: 23px;
    transition: 0.3s;

}
.Navbar_button i:hover{
    color:#d60000;
    cursor: pointer;
}

/* ////////////-----work----- */

.Works{
    background-color: #F3F5F9;
    padding: 50px 80px;

}
.Work_Top{
    text-align: center;
    max-width: 100%;
}
.Work_Top h1{
    color: #fe0000;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 25px;
}
.Work_Top p{
text-align: center;
color: #535252;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.5;


}
.Work_Top p span{
    color:#212222;
}
.Work_Top h2{
    font-size: 16px;
    color:#302f2f;
    padding: 10px 0px;

}
.Work_fother{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 55px;


}
.Work_fother_1{
    border: 1px solid white;
    padding: 38px 76px;
  max-width: 257px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(100, 99, 99);
    transition: 0.3s ease;

}
.Work_fother_1:hover{
    border: 1px solid #fe0000 ;
    box-shadow: 0 0 10px 0  #ff4242;



}
.Work_fother_1 img{
    width: 100px;
    margin: auto;
    object-fit: contain;

    
}

.Work_fother_1 h3{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0px;
}
/* ---------Servises-------- */

.Servises{
padding: 50px 80px;



}
.Servises_top {
    display: flex;
flex-wrap: wrap;

}
.Servises_top_left_img{
    
}
.Servises_top_left_img img{
    max-height: 100vh;
    max-width: 100%;
}
.Servises_top_right{
    padding: 70px 30px;
}
.Servises_top_right_1{
    padding: 30px 0px;
}
.Servises_top_right_hr{
    background: red;
    color: red;
    width: 7%;
    height: 4px;
}
.Servises_top_right hr{

}

.Servises_top_right h3{
    font-size: 19px;
    color:#d60000

}
.Servises_top_right h1{
  
}
.Servises_top_right_text h1{
    font-size: 33px;
    padding: 17px 0px;
    font-weight: 600;

}
.Servises_top_right_text span{

}
.Servises_top_right_2{
    display: flex;
    align-items: center;
gap: 11px;
padding: 10px 0px;
}
.Servises_top_right_2 img{
    width: 50px;
    /* margin: ; */
}
.Servises_top_right_2 h1{
font-size: 18px;
font-weight: 600;
color: #4a4d52;
}

.Servies_bottom{

}
.Servies_bottom_1{

}
.Servies_bottom_1 h1{
    font-size: 33px;
    color: #fe0000;
    text-align: center;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.Servies_bottom_1 h3{
text-align: center;
font-size: 16px;
color: #4a4d52;
padding: 5px 0px;

}

.Servies_bottom_2{
display: flex;
gap: 20px;
justify-content: center;
padding: 20px 0px;
flex-wrap: wrap;
}
.Servies_bottom_3{
    /* display: flex; */
display: block;
padding: 30px 10px;
    max-width: 350px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;


    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgb(100, 99, 99);
  transition: 0.3s ease;
/* cursor: pointer; */
    /* justify-content: center; */


}
.Servies_bottom_3:hover{
    border: 1px solid #fe0000;
    box-shadow: 0 0 10px 0 #ff4242;
}

.Servies_bottom_3 img{
    width: 100px;
    object-fit: contain;
    height: 93px;
    margin: auto;
}
.Servies_bottom_3 h1{
text-align: center;
font-size: 15px;
font-weight: 600;
padding: 10px 0px;
color: #4a4d52;
}
/* -------------project--------- */
.Project{
    background-color: #F3F5F9;
    padding: 100px 60px ;
}
.product_top1{
    text-align: center;


}
.product_top1 h2{
    font-size: 20px;
    font-weight: 400;
    color:#fe0000;
}
.product_top1 h3{
    font-size: 36px;
    color: #000;
    font-weight: 600;
    padding-bottom: 20px;

}
.Projet_bottom{
    display: flex;
    gap: 20px;
justify-content: center;
flex-wrap: wrap;

}
.project_bottom1{
    /* border: 1px solid black; */
    box-shadow: 0 0 10px 0 rgb(100, 99, 99);
    max-width: 360px;
    border-radius: 10px;
    background-color: #fff;
}

.project_bottom1 img{
    max-width: 100%;
    object-fit: contain;
}
.project_bottom1 h2{
    color:#fe0000;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 8px 0px;
}
.project_bottom1 h3{
    color:#4a4d52;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    /* padding-bottom: 20px; */
}
.project_bottom1_button{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 17px;
    padding: 20px 0px;

}
.project_bottom1_button button{
    /* border: 1px solid black; */
    padding: 10px 24px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    /* font-family: ; */
    background-image: linear-gradient(to left bottom, #fe0000 ,#4a4d52  ) ;
border-radius: 4px;
    cursor: pointer;
}
.project_bottom1_button button:nth-child(2){
    background-image: linear-gradient(to left,#4a4d52 , #000 ) ;
}

/* ---client_love------------ */

.Client{
padding: 60px 60px;
}
.Client_top1{
text-align: center;

}
.Client_top1 h3{
    color:#fe0000;
    font-size: 19px;
    font-weight: 600;
    word-spacing: 1px;

}
.Client_top1 h2{
    color: #1E1F20;
    /* font-family: "Roboto",Sans-serif; */
    font-size: 32px;
    font-weight: 600;
    padding: 15px 0px;
}
.Client_bottom{
   display: flex;
   justify-content: center;
   gap: 25px;
   /* flex-wrap: wrap; */
   /* overflow: hidden; */
   padding: 20px 0px;
   overflow-x:auto;
   
}
.Client_bottom1{
    /* border: 1px solid black; */

   width: 340px;
    padding: 40px 40px;
    box-shadow: 9px 11px 14px 0 rgba(0,0,0,.1);
    z-index: 10;

}
.Client_bottom1 p{
    color: rgba(0,0,0,.5);
    font-size: 15px;
    letter-spacing: 0.1px;
    text-align: center;
    padding: 20px 0px;
}
.Client_bottom1>img{
    width: 50px;
    margin: auto;
}
.Client_bottom_star {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 15px 0px;
    

}
.Client_bottom_star img{
    width: 14px;
}

.Owner{
    text-align: center;

}
.Owner img{
    border-radius: 50%;
    position: relative;
  top: -37px;
  left: 132px;
  width: 74px;
}
.Owner h2{
    position: relative;
    bottom: 20px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.Owner h3{
position: relative;
  bottom: 21px;
  font-size: 13px;
  color: rgba(0,0,0,.5);}

.Website_trafice{
    /* background-color: #000; */
    padding: 40px 60px;

    background-image: url('../Images/Natual3.jfif'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    max-width:100%;

}
.Website_trafice_top1{
text-align: center;
}
.Website_trafice_top1 h3{
color: white;
font-size: 20px;
padding: 15px 0px;
}
.Website_trafice_top1 h2{
    color: #fff;
    font-family: "Roboto",Sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.Website_trafice_bottom{
    padding: 20px 20px;
  background-color: #FFFFFF8A;
  border-radius: 15px  15px;
  margin: 10px 0px;
  max-width: 1100px;
  /* max-width: 1100px; */
  /* margin: 0px auto; */
  margin: auto;
}
.Website_trafice_bottom1{
    display: flex;
    gap: 30px;
    /* max-width: 900px; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.Website_trafice_bottom2{
    display: grid;
  
}

.Website_trafice_bottom1 label{
    color: #000;
    font-size: 12px;
    font-weight: 700;
}
.Website_trafice_bottom1 label span{
    color:#fe0000;
}
.Website_trafice_bottom1 input{
    width: 300px;
    padding: 10px 10px;
    background-color: #EDEDED;

}

.Website_trafice_button {
text-align: center;
padding: 25px 0px;
}
.Website_trafice_button button{
    padding: 10px 10px;
    /* border: 0px solid black; */
    background-color:#fe0000;
    color: white;
    font-size: 14px;
    border-radius: 50px;
transition: 0.3s;
}
.Website_trafice_button button:hover{
    background-color: #d60000;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.6);
}